.nav-bar {
  height: 4rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 20px 10px 20px;
  background-color: #efefef;
  margin-bottom: 10px;
}

.container {
  display: flex;
  height: 100%;
}

.list {
  width: 33%;
  height: 100%;
  margin-right: 10px;
  background-color: #efefef;
}

.view {
  flex-grow: 1;
  height: 100%;
  background-color: #efefef;
}

.header {
  font-size: 2rem;
  font-weight: 500;
}
