<div>
  <input type="text" placeholder="Search for recipe" />
</div>

<button mat-button color="accent" class="add-button" routerLink="new-recipe">
  <mat-icon>add_circle</mat-icon>
</button>
<mat-nav-list>
  <mat-list-item>
    <a matLine href="11-11-11/details">Recipe name</a>
    <button
      mat-raised-button
      color="warn"
      class="space"
      (click)="openDeleteDialog()"
    >
      Delete
    </button>
    <button mat-raised-button color="primary" routerLink="123123/edit">
      Edit
    </button>
  </mat-list-item>
</mat-nav-list>
