<!-- <ng-container *ngIf="data | async as recipe"> -->
<mat-card>
  <form [formGroup]="form" class="format-form" (ngSubmit)="save()">
    <mat-form-field appearance="fill">
      <mat-label>Name of recipe</mat-label>
      <input required matInput formControlName="name" min="3" max="80" />
      <!-- [value]="recipe.name" -->
    </mat-form-field>
    <mat-form-field appearance="fill">
      <mat-label>Preparation time in minutes</mat-label>
      <input
        required
        type="number"
        matInput
        formControlName="preparationTimeInMinutes"
        min="1"
      />
      <!-- [value]="recipe.preparationTimeInMinutes" -->
    </mat-form-field>
    <mat-form-field appearance="fill">
      <mat-label>Description</mat-label>
      <textarea
        min="15"
        max="255"
        rows="3"
        required
        matInput
        formControlName="description"
      ></textarea>
      <!-- [value]="recipe.description" -->
    </mat-form-field>

    <div class="grid-2-column">
      <mat-form-field appearance="fill" class="col-span">
        <mat-label>Quantity</mat-label>
        <input required matInput formControlName="description" />
      </mat-form-field>
      <mat-form-field appearance="fill" class="col-span">
        <mat-label>Ingredient</mat-label>
        <input required matInput formControlName="description" />
      </mat-form-field>
      <div class="mat-form-field-wrapper item-center">
        <button mat-button color="warn">
          <mat-icon>delete</mat-icon>
        </button>
      </div>
      <mat-form-field appearance="fill" class="col-span">
        <mat-label>Quantity</mat-label>
        <input required matInput formControlName="description" />
      </mat-form-field>
      <mat-form-field appearance="fill" class="col-span">
        <mat-label>Ingredient</mat-label>
        <input required matInput formControlName="description" />
      </mat-form-field>
      <div class="mat-form-field-wrapper item-center">
        <button mat-button color="warn">
          <mat-icon>delete</mat-icon>
        </button>
      </div>
    </div>

    <div class="item-center">
      <button mat-button color="accent" class="add-button">
        <mat-icon>add_circle</mat-icon><span class="pl-6">Add ingredient</span>
      </button>
    </div>
  </form>
  <div class="content-right">
    <button mat-raised-button color="primary" type="submit" class="mr-6">
      Save
    </button>
    <button mat-raised-button color="warn" routerLink="/">Cancel</button>
  </div>
</mat-card>
<!-- </ng-container> -->
